logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
dist/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
pnpm-lock.yaml
examples/PPTXjs
examples/3guo*
examples/*.pptx
examples/ppt
examples/金腾研发架构&系统介绍
examples/Sample_12
examples/机构端版本计划V1.7 0105
examples/*.zip
examples/**/*.xml
examples/**/*.rels
examples/**/*.png
examples/**/*.svg
examples/**/*.jpg
examples/**/*.jpeg
examples/**/*.gif
examples/**/*.bmp
examples/**/*.mp4
examples/**/*.mp3
