logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
.idea/
run/
dist/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
pnpm-lock.yaml
examples/PPTXjs
examples/3guo
examples/*.pptx
examples/ppt
